---
import Layout from "../layouts/Layout.astro"

import AboutMe from "../components/AboutMe.astro"
import Briefcase from "../icons/Backpack.astro"
import CodeIcon from "../icons/Code.astro"
import Education from "../components/Education.astro"
import ProfileCheck from "../icons/ProfileCheck.astro"
import Projects from "../components/Projects.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro"
import TitleSection from "../components/TitleSection.astro"
---

<Layout
  title="Porfolio de Nicolas - Fullstack desarrollador con experiencia con C, Java, Angular, HTML y CSS"
  description="Contrata a Nicolas para crear tu aplicación."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Educacion
      </TitleSection>
      <Education />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>