<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Nicolas Cordes pero mis amigos me llaman Nico. Empecé en la
      programación en la UTN en 2022. <strong
        >Actualmente estoy por entregar mi tesis final para asi obtener el titulo</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >la creación de una aplicación para la gestión de un club de deportes y también una aplicación de crowdfunding.</strong
      >. Estos proyectos me permitieron aplicar mis conocimientos en <em>Java</em>, <em>Spring Boot</em>, <em>MySQL</em>, <em>HTML</em>, <em>CSS</em> y <em>Angular</em>, resolviendo desafíos reales y mejorando mis habilidades de desarrollo.
    </p>
    
    <p>
      Como estudiante, <strong
        >he desarrollado habilidades en <em class="italic">Git/GitHub, Jira y metodologías ágiles</em></strong
      >. Mi objetivo es continuar aprendiendo y mejorando día a día para potenciar mis capacidades y contribuir a proyectos de impacto.
    </p>    
  </div>


</article>
